@media (min-width: 769px) and (max-width: 992px) {


header p {
    font-size: 1.9em;
}

h1 {
    font-size: 2.2em;
    line-height: 100%;
}

h2 {
    font-size: 1.7em;
}

.thumbnail .caption {
    font-size: 1em;

}

.thumbnail > img {
	height: 250px;
}

div.col-lg-3.col-md-3.col-sm-3.col-xs-6.Wrap2 {
	min-height: 1px;
}

.thumbnail .caption h2 {
	min-height: 1px;
}

.height {
	min-height: 1px;
}


}



@media (min-width: 501px) and (max-width: 768px) {

header p {
    font-size: 1.9em;
}

h1 {
    font-size: 1.9em;
    line-height: 100%;
}

h2 {
    font-size: 1.3em;
}

.thumbnail .caption {
    font-size: 1.3em;
}

.carousel-caption > p {

	font-weight: 900;
    font-size: 1.7em;
}

div.col-lg-3.col-md-3.col-sm-3.col-xs-6.Wrap2 {
	min-height: 1px;
}

.thumbnail .caption h2 {
	min-height: 1px;
}

.height {
	min-height: 1px;
}


}



@media (max-width: 500px) {

header p {
    font-size: 1.5em;
}

h1 {
    font-size: 1.7em;
    line-height: 100%;
}

h2 {
    font-size: 1.3em;
}

.thumbnail .caption {
    font-size: 1em;

}

div.carousel-caption {
	left: 65%;
    right: 5%;
    padding-bottom: 1px;
    margin-bottom: 1px;
}

.carousel-caption > p {
	font-weight: 900;
    font-size: 0.8em;
    margin-bottom: 1px;
}

div.col-lg-3.col-md-3.col-sm-3.col-xs-6.Wrap2 {
	min-height: 1px;
}

.thumbnail > img {
	height: auto;
}

div.color2 {
    margin-bottom: 1px; 
}

div.color2 img {
    height: 100px;   
}

.thumbnail .caption h2 {
	min-height: 1px;
}

.height {
	min-height: 1px;
}

}

